<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
 </head>
    <link rel="stylesheet" type="style/css" href="css/style.css">
 <body>
   <h1>Tiffany Chu</h1>
  
 </body>
</html>