<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Tiffany Chu</title>
 </head>
    <link rel="stylesheet" type="style/css" href="css/style.css">
 <body>
<div class = "header">
  <br>
   <h1>Tiffany Chu</h1>
   </div>
   <a href="/art"><img id = "artdoor" src = "https://40.media.tumblr.com/5ae4de85a1d5224d8030e2c0585f1bb8/tumblr_ntvuoffr161uf9g6so1_1280.png"></a> 
 </body>
</html>